@page
@using System.Runtime.InteropServices
@using System
@using System.IO
@using System.Diagnostics
@model IndexModel
@{
    ViewData["Title"] = "深入浅出ASP.NET Core与Docker-首页";
	    var process = Process.GetCurrentProcess();

}

<div class="text-center">

<div class="m-1 p-1">

	<h3 class="display-4">欢迎</h3>
		<p>创建年轻人的 <a href="https://www.yoyomooc.com">第2个 ASP.NET Core项目</a>.</p>
			<h4 class="bg-success text-xs-center p-1 text-white"> @Model.Message</h4>
<table class="table table-sm  table-striped table-hover">
			<thead>
				<tr><th>ID</th><th>名称</th><th>分类</th><th>价格</th></tr>
			</thead>
			<tbody>
				@foreach (var p in Model.Products)
				{
					<tr>
						<td>@p.ProductID</td>
						<td>@p.Name</td>
						<td>@p.Category</td>
						<td>￥@p.Price.ToString("F2")</td>
					</tr>
				}
			</tbody>
		</table>

        </div>

<div class="m-1 p-1">

			<h4 class="bg-info text-xs-center p-1 text-white">当前应用程序运行信息</h4>

	  <table width="500" align="center" class="table table-sm  table-striped table-hover">
        <tr>
            <td>容器化运行</td>
            <td>@(Environment.GetEnvironmentVariable("DOTNET_RUNNING_IN_CONTAINER") is object ? "是" : "不是")</td>
        </tr>
        <tr>
            <td>CPU核心</td>
            <td>@Environment.ProcessorCount</td> 
        </tr>
    @if (RuntimeInformation.OSDescription.StartsWith("Linux") && Directory.Exists("/sys/fs/cgroup/memory"))
    {
        <tr>
            <td>cgroup内存使用情况</td>
            <td>@System.IO.File.ReadAllLines("/sys/fs/cgroup/memory/memory.usage_in_bytes")[0]</td>
        </tr>
    }
        <tr>
            <td>当前占用内存空间(字节)</td>
            <td>@(process.WorkingSet64)</td>
        </tr>
        <tr>
            <td>最大可用内存空间(字节)</td>
            <td>@(process.MaxWorkingSet) </td>
        </tr>    
    </table>
</div>


	
   </div>
